{% extends 'base.html.twig' %}

{% block body %}
<div class="col-6 mt-5">
    <a href="{{ path('app_homepage') }}" class="btn btn-primary mb-3">Back</a>
    {% set month = constant('App\\Enum\\MonthEnum::FEBRUARY') %}
    <div>
        The timezone {{ timezone.name }} has {{ minutesOffset(date, timezone) }} minutes offset to UTC.<br />
        {{ month|capitalize }} in this year has {{ daysInMonth(date, month) }} days.<br />
        Specified month ({{ date|date('F') }}) has {{ date|date('t') }} days.
    </div>
</div>
{% endblock %}
